.mainImage {
	width: 480px;
	height: auto;
	margin: 0 auto;
	@apply float-none md:float-left;
	@apply pr-0 md:pr-6;
	@apply mb-10 md:mb-0;
}

.postTitle {
	@apply flex;
	@apply items-center;
	@apply font-bold;
	font-size: 28px !important;
	@apply border-primary;
	@apply border-l-4;
	@apply pl-4;

	@media screen and (min-width: 768px) {
		font-size: 48px !important;
	}
}

.body {
	margin-top: 40px;

	h1,
	h2,
	h3,
	h4 {
		@apply flex;
		@apply items-center;
		@apply font-bold;
		@apply mt-10;
		@apply mb-4;
		@apply border-primary;
		@apply border-l-4;
		@apply pl-4;
	}

	h2 {
		margin-top: 0;
	}

	h1 {
		font-size: 28px !important;

		@media screen and (min-width: 768px) {
			font-size: 48px !important;
		}
	}

	p {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 1.5px;
		margin-bottom: 20px;
		text-align: justify;
		font-weight: 500;
	}

	a {
		@apply text-secondary;
		@apply font-semibold;
		@apply text-left;
	}

	ol {
		list-style-type: decimal;
		white-space: pre-wrap;
		padding-left: 15px;
		padding-bottom: 25px;
		padding-top: 15px;
	}

	ul {
		list-style-type: disc;
		white-space: pre-wrap;
		padding-left: 15px;
		// padding-bottom: 25px;
		padding-top: 15px;
	}

	li {
		// padding-bottom: 15px;
	}

	b {
		margin-right: 10px;
	}

	img{
		margin: 15px auto;
	}

	video{
		width: 750px;
		margin: 15px auto;
	}
}
